.dtp .dtp-btn-ok.btn.btn-flat {
  background-color: #4285F4;
}
.dtp .dtp-btn-cancel.btn.btn-flat {
  background-color: #ff4444;
}

#preview
{
  height: 7em;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
#preview img
{
  height:5em;
  width: auto;
  vertical-align: top;
  display: inline;
}

#allphotos
{
  height: 12em;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
#allphotos img
{
  margin: 5px;
  height:10em;
  width: auto;
  vertical-align: top;
  display: inline;
}
