.order-img img {
  height: 5em;
  width: auto;
}

.card .order-img {
  float: left;
  padding-bottom: 0px;
}

.current-prototype, .history-prototype {
  display: none;
}

#listings_stillUp .card a {
  position: absolute;
  width: 100%;
  height: 100%;
}

#header button {
  float: right;
}
